.container {
    background: lightcoral;
}

.container input {
    border: 1px solid crimson;
    border-radius: 10px;
    width: 100%;
    height: 35px;
}

.container label{
    margin-top: 20px;
    font-size: 20px;
    font-family: cursive;

}

.container button{
    margin-top: 25px;
    font-family: cursive;
}

.container ::placeholder{
    color: rgb(165, 163, 163);
    font-family: cursive;
}